
<h2> Add new Interest</h2>
<%= form_for @user, format: :html do |f| %>
  <%= render partial: 'layouts/interest_select' %>
<%= f.submit "Commit" %>
<% end %>


<%= link_to 'Back', user_url(:id => @user.id) %>
