<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="success_mes">
        <h1>
          <%= @message %> </h1>
        <div class="aft_req_actions_mes">
          Do you wanna check event's information or find new event?
        </div>
        <div class="request_btn">
          <%= link_to "Event's page", event_path(:id => @event.id), class:"btn btn-lg" %>
          <%= link_to "All events", "/", class:"btn btn-lg" %>
        </div>
      </div>
    </div>
  </div>
</div>